mixin counts(items)
    .counts
        ul.counts_list
            each item in items
                li.counts_item
                    a(href='#').counts_link
                        span.counts_icon
                            +icon(item.icon, ['icon-20', 'icon-iron', 'icon-count'])
                        span.counts_amount= item.amount
                        span.counts_title= item.title