mixin nav(items)
    nav.nav
        ul.nav_list
            each item in items
                li.nav_item
                    a(href='#').nav_link
                        +icon(item, ['icon-20', 'icon-grey'])