mixin nav(items)
    nav.nav
        ul.nav__list
            each item in items
                li.nav__item
                    a(href='#').nav__link
                        +icon(item, 'nav__icon')