mixin nav(items)
    nav.m-nav
        ul.m-nav__list
            each item in items
                li.m-nav__item
                    a(href='#').m-nav__link
                        +icon(item, 'm-nav__icon')