mixin socials(items)
    .social
        ul.social__list
            each item in items
                li.social__item
                    a(href='#').social__link
                        +icon('soc-' + item, 'social__icon')