mixin socials(items)
    .social
        ul.social_list
            each item in items
                li.social_item
                    a(href='#').social_link
                        +icon('soc-' + item, ['icon-20', 'icon-coin'])