.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.header {
  display: block;
  overflow: hidden;
  position: relative;
  background: url('../img/no-album-cover.jpg') no-repeat center center;
  background-size: cover;

  &_main {
    @include desktop {
      flex-direction: row;
      padding: 20px 85px;
    }
    @include tablet {
      flex-direction: row;
      padding: 20px 25px;
    }
    @include phone {
      flex-direction: column;
      padding: 20px 15px;
    }
    display: flex;
    align-items: center;
    width: 100%;
    height: 240px;
    overflow: hidden;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.35) 100%, rgba(0, 0, 0, 0) 100%);

    &--user {
      @include desktop {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
      }
    }

    &--album {
      flex-direction: column;
      height: 255px;
    }
  }

  &_secondary {
    @include desktop {
      padding: 0 60px;
    }
    @include tablet {
      padding: 0 25px;
    }
    @include phone {
      padding: 0 10px;
    }

    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    overflow: hidden;
    position: relative;
    background-color: rgba($color-coin, 0.9);

    &--right {
      @include desktop {
        justify-content: flex-end;
      }
      @include tablet {
        justify-content: flex-end;
      }
      @include phone {
        justify-content: center;
      }
    }

    &--center {
      justify-content: center;
    }
  }

  &_top {
    display: block;
    width: 100%;
  }

  &_userpic {
    display: inline-block;
    vertical-align: middle;
  }

  &_username {
    display: inline-block;
    margin-left: 20px;
    font: $font-bold 16px $font-family-2;

    &--white {
      color: $color-white;
    }
  }

  &_pageinfo {
    &--right {
      @include desktop {
        margin-left: 45px;
      }
      @include tablet {
        margin-left: 20px;
      }
      @include phone {
        margin-left: 0;
      }
    }
  }

  &_nav {
    @include desktop {
      right: 40px;
    }
    @include tablet {
      right: 25px;
    }
    @include phone {
      right: 10px;
    }
    display: block;
    position: absolute;
    top: 20px;

    &--album {
      @include phone {
        display: none;
      }
    }
  }

  &_search {
    display: block;
    width: 380px;
    position: relative;
  }
}

.nav {
  &_item {
    $size: 40px;
    @include rounded($size);
    display: block;
    position: relative;
    background-color: $color-white;
    box-shadow: 0 2px 5px 0 rgba(160, 160, 159, 1);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.userpic {
  $size-big: 120px;
  $size-medium: 100px;
  $size-small: 50px;
  @include desktop {
    @include rounded($size-big);
  }
  @include tablet {
    @include rounded($size-medium);
  }
  @include phone {
    @include rounded($size-small);
  }
  border: 3px solid $color-white;

  &--small {
    @include rounded($size-small);
  }

  &_image {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

.search {
  display: block;
  width: 100%;
  height: 40px;
  position: relative;

  &_input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 20px 0 45px;
    border-radius: 25px;
    border: 0;
    outline: none;
    color: rgba($color-iron, 0.6);
  }
}

.pageinfo {
  @include phone {
    align-items: center;
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;

  &_user-name {
    display: block;
    max-width: 430px;
    margin: 10px 0;
    font: $font-bold 21px $font-family-2;
    color: $color-white;
  }

  &_user-info {
    display: block;
    max-width: 430px;
    margin-bottom: 25px;
    color: $color-white;
  }

  &_album-name {
    @include desktop {
      font-size: 21px;
    }
    @include tablet {
      font-size: 21px;
    }
    @include phone {
      font-size: 18px;
    }
    display: block;
    max-width: 750px;
    margin: 10px 0;
    text-align: center;
    font-family: $font-family-1;
    font-weight: $font-semibold;
    color: $color-white;
  }

  &_album-info {
    @include desktop {
      font-size: 16px;
      line-height: 24px;
    }
    @include tablet {
      font-size: 16px;
      line-height: 24px;
    }
    @include phone {
      font-size: 14px;
      line-height: 21px;
    }
    display: block;
    max-width: 750px;
    text-align: center;
    font-family: $font-family-1;
    font-weight: $font-light;
    color: $color-white;
  }
}

.social {
  &_list {
    &::after {
      content: ' ';
      display: table;
      clear: both;
    }
  }

  &_item {
    float: left;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &_link {
    display: block;
  }
}

.counts {
  &_item {
    @include desktop {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
    @include tablet {
      margin-right: 40px;
    }
    @include phone {
      margin-right: 30px;
    }
    display: inline-block;
  }

  &_link {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $color-iron;
      text-decoration: none;
    }
  }

  &_amount {
    @include desktop {
      font-size: 16px;
    }
    @include tablet {
      font-size: 16px;
    }
    @include phone {
      font-size: 14px;
    }
    display: inline-block;
    vertical-align: middle;
    font-family: $font-family-2;
  }

  &_title {
    @include desktop {
      display: inline-block;
    }
    @include tablet {
      display: inline-block;
    }
    @include phone {
      display: none;
    }
    margin-left: 5px;
    vertical-align: middle;
    font: $font-semibold 16px $font-family-1;
  }
}

.content {
  &_inner {
    @include desktop {
      padding: 40px;
    }
    @include tablet {
      padding: 25px;
    }
    @include phone {
      padding: 20px 10px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
  }
}

.title {
  color: $color-iron;
  &--1 {
    @include desktop {
      margin: 5px 10px 20px;
      font: $font-bold 42px $font-family-2;
    }
    @include tablet {
      margin: 10px 10px 20px;
      font: $font-bold 42px $font-family-2;
    }
    @include phone {
      margin: 5px 0 10px;
      text-align: center;
      font: $font-bold 30px $font-family-2;
    }
  }
}

.photo-card {
  display: block;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 0 4px 1px rgba($color-grey, 0.4);

  &_list {
    display: flex;
    flex-wrap: wrap;
  }

  &_item {
    @include desktop {
      max-width: calc(100% * (1 / 3) - 20px);
    }
    @include tablet {
      max-width: calc(100% * (1 / 2) - 20px);
    }
    @include phone {
      max-width: calc(100% - 20px);
      min-width: 300px;
    }
    display: block;
    margin: 10px;
    flex-grow: 1;
    width: 100%;
  }

  &_header {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &_link {
    @include desktop {
      &:hover {
        &::before {
          background: linear-gradient(to top, rgba(50, 50, 50, 0.3) 0%, rgba(50, 50, 50, 0) 100%);
        }

        .icon-loupe {
          display: block;
        }
      }
    }
    @include tablet {
      &:hover {
        &::before {
          background: linear-gradient(to top, rgba(50, 50, 50, 0.3) 0%, rgba(50, 50, 50, 0) 100%);
        }

        .icon-loupe {
          display: block;
        }
      }
    }
    display: block;
    height: 100%;

    &::before {
      content: ' ';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, rgba(50, 50, 50, 0.3) 0%, rgba(50, 50, 50, 0) 30%);
    }
  }

  &_image {
    @include phone {
      width: 100%;
    }
    display: block;
    min-width: 100%;
    min-height: 100%;
  }

  &_actions {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  &_footer {
    @include desktop {
      padding: 0 20px;
    }
    @include tablet {
      padding: 0 20px;
    }
    @include phone {
      padding: 0 10px;
    }
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
  }

  &_edit {
    opacity: 0.2;
  }

  &_title {
    @include desktop {
      font: $font-light 16px $font-family-1;
    }
    @include tablet {
      font: $font-light 16px $font-family-1;
    }
    @include phone {
      font: $font-light 14px $font-family-1;
    }
    margin-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-iron;
  }
}

.actions {
  &_item {
    display: inline-block;
    margin-right: 15px;
  }

  &_link {
    text-decoration: none;
  }

  &_count {
    margin-left: 5px;
    vertical-align: middle;
    font: $font-bold 16px $font-family-2;
    color: $color-white;
  }
}

.album-card {
  display: block;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 0 4px 1px rgba($color-grey, 0.4);

  &_list {
    display: flex;
    flex-wrap: wrap;
  }

  &_item {
    @include desktop {
      max-width: calc(100% * (1 / 4) - 20px);
    }
    @include tablet {
      max-width: calc(100% * (1 / 3) - 20px);
    }
    @include phone {
      max-width: calc(100% - 20px);
      min-width: 300px;
    }
    display: block;
    margin: 10px;
    flex-grow: 1;
    width: 100%;
  }

  &_header {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &_link {
    &:hover {
      &::before {
        content: ' ';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to top, rgba(50, 50, 50, 0.3) 0%, rgba(50, 50, 50, 0) 100%);
      }

      .album-card_info {
        display: flex;
      }
    }
    display: block;
    height: 100%;
  }

  &_image {
    @include phone {
      width: 100%;
    }
    display: block;
    min-width: 100%;
    min-height: 100%;
  }

  &_actions {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  &_footer {
    @include desktop {
      padding: 0 20px;
    }
    @include tablet {
      padding: 0 20px;
    }
    @include phone {
      padding: 0 10px;
    }
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;

    &--right {
      justify-content: flex-end;
    }
  }

  &_title {
    margin-left: 20px;
    font: $font-semibold 16px $font-family-1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-iron;
  }

  &_info {
    @include desktop {
      padding: 40px 20px;
    }
    @include tablet {
      padding: 30px 20px;
    }
    @include phone {
      padding: 20px;
    }

    display: none;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &_description {
    @include desktop {
      margin-bottom: 40px;
      font: $font-light 16px $font-family-1;
    }
    @include tablet {
      margin-bottom: 30px;
      font: $font-light 16px $font-family-1;
    }
    @include phone {
      margin-bottom: 20px;
      font: $font-light 14px $font-family-1;
    }

    display: block;
    max-width: 210px;
    color: $color-white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &_count {
    font: $font-semibold 16px $font-family-1;
    color: $color-white;
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon-15 {
  width: 15px;
  height: 15px;
}

.icon-20 {
  width: 20px;
  height: 20px;
}

.icon-40 {
  width: 40px;
  height: 40px;
}

.icon-white {
  fill: $color-white;
}

.icon-grey {
  fill: $color-grey;
}

.icon-iron {
  fill: $color-iron;
}

.icon-coin {
  fill: $color-coin;
}

.icon-soc-vk,
.icon-soc-fb,
.icon-soc-twitter,
.icon-soc-google,
.icon-soc-email {
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.icon-search {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  opacity: 0.6;
}

.icon-cam,
.icon-like,
.icon-comments {
  margin-right: 5px;
}

.icon-count {
  @include desktop {
    display: none;
  }
  @include tablet {
    display: none;
  }
}

.icon-loupe {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.is-hidden {
  display: none;
}
