.wrapper {
  position: relative;
  min-height: 100%;
}

.header {
  display: block;
  overflow: hidden;
  position: relative;

  &_main {
    @include desktop {
      padding: 20px 85px;
    }
    @include tablet {
      padding: 20px 25px;
    }
    @include phone {
      padding: 20px 15px;
    }
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    width: 100%;
    height: 240px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.35) 100%, rgba(0, 0, 0, 0) 100%);

    &--user {
      @include desktop {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
      }
    }
  }

  &_secondary {
    @include desktop {
      padding: 0 60px;
    }
    @include tablet {
      padding: 0 25px;
    }
    @include phone {
      padding: 0 10px;
    }

    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    overflow: hidden;
    position: relative;
    background-color: rgba($color-coin, 0.9);

    &--right {
      @include desktop {
        justify-content: flex-end;
      }
      @include tablet {
        justify-content: flex-end;
      }
      @include phone {
        justify-content: center;
      }
    }

    &--center {
      justify-content: center;
    }
  }

  &_user {
    display: block;
    width: 100%;
  }

  &_user-panel {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  &_album-panel {
    display: flex;
    height: 100%;
  }

  &_nav {
    @include desktop {
      right: 40px;
    }
    @include tablet {
      right: 25px;
    }
    @include phone {
      right: 10px;
    }
    display: block;
    position: absolute;
    top: 20px;
  }

  &_search {
    display: block;
    width: 380px;
    position: relative;
  }
}

.nav {
  &_item {
    $size: 40px;
    @include rounded($size);
    display: block;
    position: relative;
    background-color: $color-white;
    box-shadow: 0 2px 5px 0 rgba(160, 160, 159, 1);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.user {
  display: flex;
  align-items: center;

  &_username {
    display: inline-block;
    margin-left: 20px;
    font: $font-bold 16px $font-family-2;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $color-iron;
      text-decoration: none;
    }

    &--inverse {
      &:link,
      &:visited,
      &:hover,
      &:active {
        color: $color-white;
      }
    }
  }
}

.userpic {
  $size-big: 120px;
  $size-medium: 100px;
  $size-small: 50px;
  @include desktop {
    @include rounded($size-big);
  }
  @include tablet {
    @include rounded($size-medium);
  }
  @include phone {
    @include rounded($size-small);
  }
  border: 3px solid $color-white;

  &--small {
    @include rounded($size-small);
  }

  &_image {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

.search {
  display: block;
  width: 100%;
  height: 40px;
  position: relative;

  &_input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 20px 0 45px;
    border-radius: 25px;
    border: 0;
    outline: none;
    color: rgba($color-iron, 0.6);
  }
}

.user-panel {
  @include desktop {
    padding-left: 160px;
    text-align: left;
  }
  @include tablet {
    padding-left: 120px;
    text-align: left;
  }
  @include phone {
    padding-left: 0;
    text-align: center;
  }

  display: block;
  width: 100%;
  position: relative;

  &_userpic {
    @include desktop {
      position: absolute;
      top: 0;
      left: 0;
    }
    @include tablet {
      position: absolute;
      top: 0;
      left: 0;
    }
    @include phone {
      position: relative;
    }
  }

  &_user-name {
    display: block;
    margin: 10px 0;
    font: $font-bold 21px $font-family-2;
    color: $color-white;
  }

  &_user-info {
    display: block;
    max-height: 48px;
    overflow: hidden;
    margin-bottom: 25px;
    color: $color-white;
  }

  &_social {
    display: inline-block;
  }
}

.album-panel {
  &_title {
    @include desktop {
      font-size: 21px;
    }
    @include tablet {
      font-size: 21px;
    }
    @include phone {
      font-size: 18px;
    }
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-family: $font-family-1;
    font-weight: $font-semibold;
    color: $color-white;
  }

  &_descr {
    @include phone {
      font-size: 14px;
    }
    display: block;
    text-align: center;
    font-family: $font-family-1;
    font-weight: $font-light;
    color: $color-white;
  }
}

.social {
  &_list {
    &::after {
      content: ' ';
      display: table;
      clear: both;
    }
  }

  &_item {
    float: left;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &_link {
    display: block;
  }
}

.counts {
  &_item {
    @include desktop {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
    @include tablet {
      margin-right: 40px;
    }
    @include phone {
      margin-right: 30px;
    }
    display: inline-block;
  }

  &_link {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $color-iron;
      text-decoration: none;
    }
  }

  &_amount {
    @include desktop {
      font-size: 16px;
    }
    @include tablet {
      font-size: 16px;
    }
    @include phone {
      font-size: 14px;
    }
    display: inline-block;
    vertical-align: middle;
    font-family: $font-family-2;
  }

  &_title {
    @include desktop {
      display: inline-block;
    }
    @include tablet {
      display: inline-block;
    }
    @include phone {
      display: none;
    }
    margin-left: 5px;
    vertical-align: middle;
    font: $font-semibold 16px $font-family-1;
  }

  &_icon {
    margin-right: 5px;
  }
}

.content {
  &_inner {
    @include desktop {
      padding: 40px;
    }
    @include tablet {
      padding: 25px;
    }
    @include phone {
      padding: 20px 10px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
  }
}

.title {
  color: $color-iron;
  &--1 {
    @include desktop {
      margin: 5px 10px 20px;
      font: $font-bold 42px $font-family-2;
    }
    @include tablet {
      margin: 10px 10px 20px;
      font: $font-bold 42px $font-family-2;
    }
    @include phone {
      margin: 5px 0 10px;
      text-align: center;
      font: $font-bold 30px $font-family-2;
    }
  }
}

.photo-card {
  display: block;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 0 4px 1px rgba($color-grey, 0.4);

  &_list {
    display: flex;
    flex-wrap: wrap;
  }

  &_item {
    @include desktop {
      max-width: calc(100% * (1 / 3) - 20px);
    }
    @include tablet {
      max-width: calc(100% * (1 / 2) - 20px);
    }
    @include phone {
      max-width: calc(100% - 20px);
      min-width: 300px;
    }
    display: block;
    margin: 10px;
    flex-grow: 1;
    width: 100%;
  }

  &_header {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &_link {
    @include desktop {
      &:hover {
        &::before {
          background: linear-gradient(to top, rgba(50, 50, 50, 0.3) 0%, rgba(50, 50, 50, 0) 100%);
        }

        .icon-loupe {
          display: block;
        }
      }
    }
    @include tablet {
      &:hover {
        &::before {
          background: linear-gradient(to top, rgba(50, 50, 50, 0.3) 0%, rgba(50, 50, 50, 0) 100%);
        }

        .icon-loupe {
          display: block;
        }
      }
    }
    display: block;
    height: 100%;

    &::before {
      content: ' ';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, rgba(50, 50, 50, 0.3) 0%, rgba(50, 50, 50, 0) 30%);
    }
  }

  &_image {
    display: block;
    width: 100%;
    min-height: 100%;
  }

  &_actions {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  &_footer {
    @include desktop {
      padding: 0 20px;
    }
    @include tablet {
      padding: 0 20px;
    }
    @include phone {
      padding: 0 10px;
    }
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
  }

  &_edit {
    opacity: 0.2;
  }

  &_title {
    @include desktop {
      font: $font-light 16px $font-family-1;
    }
    @include tablet {
      font: $font-light 16px $font-family-1;
    }
    @include phone {
      font: $font-light 14px $font-family-1;
    }
    margin-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-iron;
  }
}

.actions {
  &_item {
    display: inline-block;
    margin-right: 15px;
  }

  &_link {
    text-decoration: none;
  }

  &_count {
    margin-left: 5px;
    vertical-align: middle;
    font: $font-bold 16px $font-family-2;
    color: $color-white;
  }
}

.album-card {
  display: block;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 0 4px 1px rgba($color-grey, 0.4);

  &_list {
    display: flex;
    flex-wrap: wrap;
  }

  &_item {
    @include desktop {
      max-width: calc(100% * (1 / 4) - 20px);
    }
    @include tablet {
      max-width: calc(100% * (1 / 3) - 20px);
    }
    @include phone {
      max-width: calc(100% - 20px);
      min-width: 300px;
    }
    display: block;
    margin: 10px;
    flex-grow: 1;
    width: 100%;
  }

  &_header {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &_link {
    &:hover {
      &::before {
        content: ' ';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to top, rgba(50, 50, 50, 0.3) 0%, rgba(50, 50, 50, 0) 100%);
      }

      .album-card_info {
        display: flex;
      }
    }
    display: block;
    height: 100%;
  }

  &_image {

    padding-bottom: 100%;
    width: 100%;
  }

  &_actions {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  &_footer {
    @include desktop {
      padding: 0 20px;
    }
    @include tablet {
      padding: 0 20px;
    }
    @include phone {
      padding: 0 10px;
    }
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;

    &--right {
      justify-content: flex-end;
    }
  }

  &_title {
    margin-left: 20px;
    font: $font-semibold 16px $font-family-1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-iron;
  }

  &_info {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &_description {
    @include desktop {
      margin-bottom: 40px;
      font: $font-light 16px $font-family-1;
    }
    @include tablet {
      margin-bottom: 30px;
      font: $font-light 16px $font-family-1;
    }
    @include phone {
      margin-bottom: 20px;
      font: $font-light 14px $font-family-1;
    }

    display: block;
    max-width: 210px;
    color: $color-white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &_count {
    font: $font-semibold 16px $font-family-1;
    color: $color-white;
  }
}

.modal {
  @include desktop {
    width: 680px;
  }
  @include tablet {
    width: 600px;
  }
  @include phone {
    width: 300px;
  }
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 100;

  &--top {
    position: absolute;
    top: 0;
    transform: translate3d(-50%, 0, 0);
  }

  &_overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#000, 0.9);
    z-index: 90;

    &--photo-preview {
      @include phone {
        display: none;
      }
    }
  }

  &_header {
    @include desktop {
      padding: 0 20px;
    }
    @include tablet {
      padding: 0 20px;
    }
    @include phone {
      padding: 0 10px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: $color-coin;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }

  &_content {
    @include desktop {
      padding: 20px;
    }
    @include tablet {
      padding: 20px;
    }
    @include phone {
      padding: 10px;
    }
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_footer {
    @include desktop {
      padding: 0 20px;
    }
    @include tablet {
      padding: 0 20px;
    }
    @include phone {
      padding: 0 10px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: $color-coin;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
  }

  &_close {
    opacity: 0.3;
  }

  &_title {
    font: $font-bold 21px $font-family-2;
    color: $color-iron;
  }

  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px;
  }

  &_message {
    margin-bottom: 20px;
  }
}

.add-photo {
  @include desktop {
    height: 330px;
    margin: 20px 0;
  }
  @include tablet {
    height: 330px;
    margin: 20px 0;
  }
  @include phone {
    height: 285px;
    margin: 10px 0;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
  overflow: auto;
  background-color: #f9f9f9;
  border: 3px dashed $color-coin;
  border-radius: 15px;

  &--empty {
    flex-direction: column;
    align-items: center;
  }

  &_meta {
    display: block;
    width: 100%;
    margin: 20px 0;
  }

  &_field {
    display: inline-block;
    font: $font-semibold 16px $font-family-1;
  }

  &_value {
    display: inline-block;
    margin-left: 15px;
    color: rgba($color-iron, 0.8);
  }

  &_placeholder {
    margin-bottom: 20px;
  }

  &_text {
    line-height: 21px;
    text-align: center;
    color: rgba($color-iron, 0.6);
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &_item {
    flex-grow: 1;
    display: block;
    width: 100%;
    max-width: calc(100% * (1 / 4) - 20px);
    margin: 10px;
    padding: 0;
    position: relative;
  }

  &_image {
    width: 100%;
    border-radius: 5px;
  }

  &_delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    position: absolute;
    top: -13px;
    right: -13px;
    background-color: $color-rose;
    border: 3px solid $color-white;
    border-radius: 13px;
  }

  &_link {
    // font: $font-semibold 16px $font-family-1
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: rgba($color-sky, 0.6);
      text-decoration: none;
    }
  }
}

.photo-preview {
  display: block;
  width: 100%;
  height: 100%;
  margin: 100px 0;

  &_header {
    @include desktop {
      height: 455px;
    }
    @include tablet {
      height: 400px;
    }
    display: flex;
    justify-content: center;
    position: relative;
  }

  &_info {
    display: block;
    padding: 20px;
    background-color: $color-white;
  }

  &_footer {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba($color-coin, 1);
    border-radius: 0 0 5px 5px;
    overflow: hidden;
  }

  &_controls {
    position: absolute;
    top: 50%;
    &--prev {
      left: -60px;
      opacity: 0.3;
    }
    &--next {
      right: -60px;
      opacity: 0.3;
    }
  }

  &_close {
    position: absolute;
    top: -20px;
    right: -80px;
    opacity: 0.3;
  }

  &_image {
    display: block;
    width: auto;
    max-width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }

  &_title {
    font: $font-semibold 21px $font-family-1;
    color: $color-iron;
    margin-bottom: 10px;
  }

  &_description {
    margin-bottom: 10px;
  }

  &_user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
  }
}

.comments {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 0;

  &_title {
    margin: 0 20px;
    font-weight: 600;
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $color-iron;
      text-decoration: none;
    }
  }

  &_list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &_item {
    @include desktop {
      padding: 20px 20px 20px 70px;
    }
    @include tablet {
      padding: 20px;
    }
    display: flex;

    &:not(:last-child) {
      border-bottom: 1px solid rgba($color-grey, 0.3);
    }
  }

  &_message {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
  }

  &_username {
    font: $font-bold 16px $font-family-2;
    color: $color-iron;
    margin-bottom: 10px;
    display: inline-block;
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $color-iron;
      text-decoration: none;
    }
  }

  &_text {
    font-weight: 300;
    line-height: 1.5;
    color: rgba($color-iron, 0.8);
  }
}

.user-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;

  &_group {
    display: flex;
    align-items: center;
  }

  &_username {
    display: inline-block;
    margin-left: 20px;
    font: $font-bold 16px $font-family-2;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $color-iron;
      text-decoration: none;
    }
  }
}

.userpic {
  display: inline-block;
  $size-small: 50px;
  border: 3px solid $color-white;
  @mixin rounded ($d) {
    width: $d;
    height: $d;
    border-radius: $d / 2;
    overflow: hidden;
  }
  &--small {
    @include rounded($size-small);
  }

  &_image {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

.form {
  display: block;
  width: 100%;
  padding-top: 20px;
}

.input {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  padding: 10px 20px;
  border: 1px solid rgba($color-grey, 0.5);
  border-radius: 20px;
  font: $font-light 16px $font-family-1;
  color: rgba($color-iron, 0.8);
  outline: none;

  &:focus {
    border: 1px solid $color-sky;
    color: $color-iron;
  }

  &_label {
    @include desktop {
      flex-direction: row;
      align-items: center;
    }
    @include tablet {
      flex-direction: column;
      align-items: flex-start;
    }
    @include phone {
      flex-direction: column;
      align-items: flex-start;
    }
    display: flex;
    margin-bottom: 20px;
  }

  &_title {
    margin-right: 20px;
    font: $font-semibold 16px $font-family-1;
    color: $color-iron;
  }
}

.textarea {
  width: 100%;
  height: 120px;
  margin: 10px 0;
  padding: 10px 20px;
  border: 1px solid rgba($color-grey, 0.5);
  border-radius: 20px;
  font: $font-light 16px $font-family-1;
  color: rgba($color-iron, 0.8);
  outline: none;

  &:focus {
    border: 1px solid $color-sky;
    color: $color-iron;
  }

  &_label {
    @include desktop {
      flex-direction: row;
    }
    @include tablet {
      flex-direction: column;
    }
    @include phone {
      flex-direction: column;
    }
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  &_title {
    margin-right: 20px;
    font: $font-semibold 16px $font-family-1;
    color: $color-iron;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font: $font-bold 14px $font-family-2;
  &:not(:last-child) {
    margin-right: 5px;
  }

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $color-white;
    text-decoration: none;
  }

  &--link {
    background-color: transparent;
    font: $font-semibold 16px $font-family-1;
  }

  &--line {
    border: 1px solid $color-sky;
  }

  &--bold {
    font: $font-bold 16px $font-family-2;
  }

  &--iron {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: rgba($color-iron, 0.8);
    }
  }

  &--sky {
    background-color: transparent;
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: rgba($color-sky, 0.8);
    }
  }

  &--info {
    background-color: $color-sky;
  }

  &--danger {
    background-color: $color-rose;
  }

  &_group {
    display: flex;
  }

  &_icon {
    display: inline-block;
  }

  &_text {
    display: inline-block;
  }
}

.alert {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font: $font-semibold 14px $font-family-1;
  color: rgba($color-iron, 0.6);

  &--danger {
    background-color: rgba($color-rose, 0.15);
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon-10 {
  width: 10px;
  height: 10px;
}

.icon-15 {
  width: 15px;
  height: 15px;
}

.icon-20 {
  width: 20px;
  height: 20px;
}

.icon-30 {
  width: 30px;
  height: 30px;
}

.icon-40 {
  width: 40px;
  height: 40px;
}

.icon-white {
  fill: $color-white;
}

.icon-grey {
  fill: $color-grey;
}

.icon-iron {
  fill: $color-iron;
}

.icon-coin {
  fill: $color-coin;
}

.icon-soc-vk,
.icon-soc-fb,
.icon-soc-twitter,
.icon-soc-google,
.icon-soc-email, {
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.icon-search {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  opacity: 0.6;
}

.icon-count {
  @include desktop {
    display: none;
  }
  @include tablet {
    display: none;
  }
}

.icon-no-like {
  fill: transparent;
  stroke: $color-white;
  stroke-width: 3px;
}

.icon-arrow-down {
  opacity: 0.2;
}

.icon-loupe {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.icon-remove {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.is-hidden {
  display: none;
  &--phone {
    @include phone {
      display: none;
    }
  }
}

.is-shown {
  &--phone {
    @include desktop {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
}
