html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font: $font-light $font-size-base $font-family-1;
  color: $color-text-base;
}

html,
body {
  height: 100%;
}
