@font-face {
  font-family: 'Panton';
  font-style: normal;
  font-weight: $font-bold;
  src: url('../fonts/panton-bold.woff2') format('woff2'),
  url('../fonts/panton-bold.woff') format('woff'),
  url('../fonts/panton-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: $font-light;
  src: url('../fonts/proximanova-light.woff2') format('woff2'),
  url('../fonts/proximanova-light.woff') format('woff'),
  url('../fonts/proximanova-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: italic;
  font-weight: $font-light;
  src: url('../fonts/proximanova-light-italic.woff2') format('woff2'),
  url('../fonts/proximanova-light-italic.woff') format('woff'),
  url('../fonts/proximanova-light-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: $font-semibold;
  src: url('../fonts/proxima-nova-semibold.woff2') format('woff2'),
  url('../fonts/proxima-nova-semibold.woff') format('woff'),
  url('../fonts/proxima-nova-semibold.ttf') format('truetype');
}