extends ../layouts/base.pug

block variables
    - var title = 'Альбом пользователя'

block content
    .wrapper
        header.header(style = 'background: url("assets/img/no-album-cover.jpg") no-repeat center center; background-size: cover;')
            .header_main
                .header_user
                    .user
                        .userpic.userpic--small
                            img(src='assets/img/default-avatar.jpg').userpic_image
                        a(href='#').user_username.user_username.user_username--inverse Александра Соколова
                .header_album-panel
                    .album-panel
                        .album-panel_title Лесные прогулки
                        .album-panel_descr Фотографии природы леса, енотов и оленей. Как прекрасно сойти на дальней станции и пройтись по полю босиком. И чтобы никто не беспокоил бродить влюбленным в тишину.<br>Запах мёда, лесных оленей и енотов будоражит нутро.
                .header_nav.is-hidden--phone
                    nav.nav
                        ul.nav_list
                            each item in ['home', 'edit']
                                li.nav_item
                                    a(href='#').nav_link
                                        svg.icon.icon-20.icon-grey(class='icon-' + item)
                                            use(xlink:href="assets/sprite/sprite.svg#" + item)
            .header_secondary.header_secondary--center
                .header_counts
                    .counts
                        ul.counts_list
                            li.counts_item
                                a(href='#').counts_link
                                    span.counts_icon
                                        +icon('cam', ['icon-20', 'icon-iron', 'icon-count'])
                                    span.counts_amount 18
                                    span.counts_title Фотографий
                            li.counts_item
                                a(href='#').counts_link
                                    span.counts_icon
                                        +icon('like', ['icon-20', 'icon-iron', 'icon-count'])
                                    span.counts_amount 14
                                    span.counts_title Лайков
                            li.counts_item
                                a(href='#').counts_link
                                    span.counts_icon
                                        +icon('comments', ['icon-20', 'icon-iron', 'icon-count'])
                                    span.counts_amount 4
                                    span.counts_title Комментариев
            .header_secondary.is-hidden
                .header_user
                    .user
                        .userpic.userpic--small
                            img(src='assets/img/default-avatar.jpg').userpic_image
                        a(href='#').user_username.user_username Александра Соколова
                +nav(['home'])
        .content
            .content_inner
                ul.photo-card_list
    footer.footer
        .footer_section
        .footer_scroll-btn
        .footer_section