extends ../layouts/base.pug

block variables
    - var title = "Base template"

block content
    ul
        li
            a(href="user.html") user.html
        li
            a(href="album.html") album.html