extends ../layouts/base.pug

block variables
    - var title = 'Страница пользователя'

block content
    .wrapper
        header.header
            .header__main
                .header__userpic
                    .userpic
                        img(src='assets/img/default-avatar.jpg').userpic__image
                .header__userinfo
                    .userinfo
                        .userinfo__name Александра Соколова
                        .userinfo__about Я веб разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс и активный отдых.
                        .userinfo__social
                            +socials(['vk', 'fb', 'twitter', 'google', 'email'])
                .header__nav
                    +nav(['home'])
            .header__secondary
                .header__search
                    .search
                        +icon('search', "search__icon")
                        input(type='input', placeholder='Исследовать мир').search__input
        .content
            h1.title.title_1
            .content__inner
    footer.footer
        .footer__section
        .footer__scroll-btn
        .footer__section