li.comments_item
  .comments_userpic
    a(href='').userpic.userpic--small
      img(src='#{photoUrl}').userpic_image
  .comments_message
    a(href='#').comments_username #{name} #{surname}
    .comments_text #{text}
